<h1>Edit Password</h1>
<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <%= msg  %>
    <% end %>
  </ul>
<% end %>

<%= form_for :user, url: profile_edit_password_path do |f|  %>
  <div>
  <%= f.label :password  %><br />
  <%= f.password_field :password  %>
  </div>

  <div>
  <%= f.label :password_confirmation  %><br />
  <%= f.password_field :password_confirmation %>
  </div>

  <div>
  <%= f.submit  %>
  </div>
<% end %>
