<h1>Reply to Proposal</h1>

<h2>Original Proposal</h2>
<%= @proposal.content  %>

<h2>Reply</h2>
<%= form_for :proposal, url: reply_proposal_path do |f| %>

  <div>
  <%= f.label :content  %><br />
  <%= f.text_area :content  %>
  </div>

  <div>
  <%= f.submit  %>
  </div>
<% end %>
